:root {
  --primary-color: #1c2127;
  --secondary-color: #232a30;
  --tertiary-color: #030005;
  --quaternary-color: #262c45;
}

@font-face {
  font-family: PokemonFont;
  src: url("./Assets/Pokemon Hollow.ttf");
}

@font-face {
  font-family: PokemonFontSolid;
  src: url("./Assets/Pokemon Solid.ttf");
}

@font-face {
  font-family: LemonMilk;
  src: url("./Assets//LEMONMILK.otf");
}

@font-face {
  font-family: Akira;
  src: url("./Assets//Akira.otf");
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--quaternary-color);
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.homePage {
  height: 100vh;
}
