:root {
  --primary-color: #1c2127;
  --secondary-color: #232a30;
  --tertiary-color: #030005;
  --quaternary-color: #262c45;
}

html {
  background-color: var(--quaternary-color);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
